<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}

  <meta name="google-site-verification" content="_FCAR-2L9sQJOsMD4s1msdj0dYZ1pFBKoeX5pq8a4NM" />
  <script async defer data-website-id="70303776-ef05-4958-99fb-c17b95380637" src="https://sdosda-umami.herokuapp.com/umami.js"></script>

  {%- include custom-head.html -%}
                        
</head>
