.comment {
  padding-top: 10px;
  h3 {
    display: inline;
    color: royalblue;
  }
  p {
    margin: 0;
  }
}

.comment-new {
  margin-top: 25px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  .comment-message,
  .comment-name {
    font-size: 1rem;
    padding: 15px;
    margin: 0;
  }

  .comment-message {
    min-height: 150px;
    resize: none;
  }

  .comment-bottom {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
  }

  .comment-name {
    flex: 1;
    border: none;
    background-color: transparent;
  }

  .comment-submit {
    width: 200px;
    color: royalblue;
    font-weight: bold;
    border: none;
    border-left: 1px solid #ddd;
    border-radius: 0 0 5px 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.comment-reply {
  padding: 15px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;

  .open {
    font-style: italic;
  }

  .close {
    display: none;
    align-self: flex-end;
    padding: 5px 10px;
    border: 1px solid #ddd;
  }

  .open:hover,
  .close:hover {
    cursor: pointer;
  }

  .comment-form {
    display: none;
  }

  .checkbox {
    display: none;
    &:checked ~ .open {
      display: none;
    }
    &:checked ~ .close {
      display: block;
    }
    &:checked ~ .comment-form {
      display: flex;
    }
  }
}

// .CodeMirror,
// .editor-toolbar {
//   border-radius: 0;
// }
.comment-form .CodeMirror {
  border-radius: 0;
  border-bottom: none;
}
.CodeMirror,
.CodeMirror-scroll {
  min-height: 150px;
}